%h1 Category Management
  
- if flash[:notice] and flash[:notice]!="Signed in successfully."
  #flashNotice
    = flash[:notice]

= render :partial => "categories", :locals => { :curr_user => current_user }
        
= link_to 'New Category', new_category_path, class: "btn btn-success"
