<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> Dear Board Members, </p>
    <p>
      
      <%= @content.html_safe %> 
      <br>
      <br>
      In community,
      <br>
      A member of CG
    </p>
  </body>
</html>