<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> Dear Board Members, </p>
    <p>
      A new event has been created. <br>
      <%= "#{@event.title}" %>  <br>
      Location:
      <%= "#{@event.location}" %>  <br>
      Date:
      <%= "#{@event.date}" %>  <br>
      Log-in to the <%= link_to "Board Portal", "community-grows.herokuapp.com" %> for more information and for sample social media posts. 
      <br>
      Please share with your friends and networks and help us get the word out.
      <br>
      <br>
      Thanks for all that you do,
      <br>
      Kelly and the CG Team
    </p>
  </body>
</html>